@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
section {
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 70px;
  overflow: hidden;
}

/* nav part */
.nav-links {
  margin-top: -40px;
  float: right;
  position: sticky;
}
.nav-links a {
  text-decoration: none;
  color: #777;
  margin-right: 30px;
}
.nav-links a:hover {
  color: black;
}

/* color declaration */
.primary-color {
  color: #fba24f;
}
.secondary-color {
  color: #575757;
}
.btn-primary {
  background-image: linear-gradient(to right, #fba24f, #ff1e1e);
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

/* right box */

.right-box {
  float: right;
  width: 40%;
}
.right-box img {
  width: 90%;
}
.right-content {
  width: 500px;
}
.right-content h2 {
  font-size: 35px;
  margin-bottom: 20px;
}
/* left box */
.left-box {
  float: left;
  width: 40%;
}
.left-box img {
  height: 600px;
}
.left-content {
  width: 600px;
}
.left-content h1 {
  font-size: 60px;
  letter-spacing: 1px;
}
.left-content p,
.right-content p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* about */
#about {
  background-image: url("./images/shapes/7.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
}

/* recipes */
.recipe-content {
  text-align: center;
}
.recipe-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.recipe-content p {
  font-size: 18px;
  width: 700px;
  margin: auto;
  text-align: center;
  font-weight: 500;
}
.right-content-image {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;

}
.right-content-box {
  height: 550px;
  width: 450px;
  display: inline-block;
  border-radius: 20px;
  margin: 30px;
  padding:20px; 
  box-shadow: 3px 3px 5px rgb(201, 201, 201);
}

.right-content-box img {
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
}
.right-content-item{
  text-align:left;
}
.right-content-item h1{
  font-size:30px;
  margin-bottom: 10px;
}
.right-content-item p{
  font-size:17px;
  font-weight: 400;
}